html {
  font-family: OpenSans, sans-serif;
  font-weight: normal;
  background-image: url("dark-honeycomb.png");
}

h1, .uk-h1, h2, .uk-h2, h3, .uk-h3, h4, .uk-h4, h5, .uk-h5, h6, .uk-h6, .uk-heading-small, .uk-heading-medium, .uk-heading-large, .uk-heading-xlarge, .uk-heading-2xlarge {
  font-family: OpenSans, sans-serif;
  text-shadow: 0 0 10px #eb34e8;
}

.uk-navbar-nav>li>a {
  text-transform: none;
  font-size: large;
  font-family: OpenSans, sans-serif;
}

p>a {
  text-shadow: 0 0 10px #eb34e8;
}

@font-face {
  font-family: OpenSans;
  src: url(Open_Sans/OpenSans-Light.ttf);
}